#ebook-corpo-pagina {
  background: #3057d7;
  padding: 5% 0;
  height: 100%;
}

/* Inicio dos estilos específicos do Rodapé */
footer {
  margin: 0;
  bottom: 0;
  height: 120px;
  width: 100%;
  background: #464646;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
}

#rodape-ebook {
  margin-top: 50px;
}

#rodape-ebook .row {
  margin: 0 !important;
}

#linha-rodape {
  height: 120px;
}

#direitos {
  font-size: 22px;
  line-height: 28px;
  color: #fff;
}
/* Fim dos estilos específicos do rodapé */
