#ebook-corpo-pagina {
  background: #3057d7;
  padding: 5% 0;
  height: 100%;
}

/* Inicio dos estilos específicos do Rodapé */
footer {
  margin: 0;
  bottom: 0;
  height: 120px;
  width: 100%;
  background: #464646;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
}

#rodape-ebook {
  margin-top: 50px;
}

#rodape-ebook .row {
  margin: 0 !important;
}

#linha-rodape {
  height: 120px;
}

#direitos {
  font-size: 22px;
  line-height: 28px;
  color: #fff;
}
/* Fim dos estilos específicos do rodapé */


/* Estilos do formulário */

#form-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-box span {
  margin-bottom: 6px;
}

#form-box input {
  margin-top: 16px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 6px;
  outline: 0;
  padding-left: 8px;
  height: 40px;
  border: none;
}

#form-box input[type=submit] {
  width: 50%;
  background: #464646;
  border-radius: 20px;
  padding-left: 0;
  padding: 8px 8px;
  height: auto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #FFFFFF;
}