#main {
  width: 100%;
}

#post-principal {
  height: 420px;
  margin-top: 150px;
  margin-bottom: 95px;
}

#sessao-blog {
  margin-top: 90px;
}

#thumb-principal {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-bottom: 50px;
}

#texto-principal {
  display: flex;
  justify-items: center;
}

#categoria-post {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 40px;
  color: #464646;
  opacity: 0.8;
}

#descricao-principal {
  text-align: justify;
  text-justify: inter-word;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

#titulo-blog {
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
}

#ico-blog {
  max-width: 45px;
  max-height: 45px;
  width: auto;
  height: auto;
  margin-right: 15px;
  margin-bottom: 60px;
}

.titulo-atalho-blog {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 20px 0px;
}

.thumb-blog {
  max-width: 425px;
  max-height: 195px;
  width: auto;
  height: auto;
}

.linha-postagem {
  margin-bottom: 60px;
}
