#main {
  width: 100%;
}

#ebook-gratuito {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #3057d7;
}

#titulo-ebook-principal {
  margin: 20px 0px;
  font-weight: bold;
  font-size: 32px;
  line-height: 115%;
  color: #000000;
}

#ebook-principal {
  margin-top: -180px;
  background-color: #fff;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  width: 100%;
  height: auto;
}

#descricao-ebook-principal {
  text-align: justify;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 20px;
  color: #000000;
}

#baixar-ebook-principal {
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background: #3057d7;
  border-radius: 25px;
  padding: 20px 50px;
  text-decoration: none;
  color: #fff;
}
#sessao-blog {
  margin-top: 90px;
}

#thumb-principal {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-bottom: 50px;
}

#categoria-post {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 40px;
  color: #464646;
  opacity: 0.8;
}

#titulo-blog {
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
}

#ico-blog {
  max-width: 45px;
  max-height: 45px;
  width: auto;
  height: auto;
  margin-right: 15px;
  margin-bottom: 60px;
}

.titulo-atalho-blog {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 20px 0px;
  min-height: 84px;
}

.thumb-blog {
  max-width: 425px;
  max-height: 195px;
  min-width: 346px;
  min-height: 195px;
  width: auto;
  height: auto;
}

.linha-postagem {
  margin-bottom: 60px;
}

.atalho-post img {
  border-radius: 8px;
}

@media (max-width: 1200px) {
  .thumb-blog {
    min-width: auto;
    min-height: auto;
    width: auto;
    height: auto;
  }
}

@media (max-width: 990px) {
  #img-banner {
    max-width: 400px;
    max-height: 450px;
    width: auto;
    height: auto;
  }

  #img-ebook-principal {
    max-width: 300px;
    max-height: 380px;
    width: auto;
    height: auto;
  }

  #ebook-principal {
    margin-top: 20px;
    height: 320px;
  }
  #div-descricao-ebook {
    max-width: 400px;
  }

  .linha-postagem {
    margin-bottom: auto;
  }

  .titulo-atalho-blog {
    min-height: auto;
    margin: 0;
  }

  .atalho-post {
    display: flex;
    margin-bottom: 40px;
  }

  .descricao-atalho-post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
  }
}

@media (max-width: 770px) {
  #img-banner {
    max-width: 400px;
    max-height: 450px;
    width: auto;
    height: auto;
  }

  #img-ebook-principal {
    max-width: 350px;
    max-height: 450px;
    width: auto;
    height: auto;
    margin: auto;
  }

  #ebook-principal {
    margin-top: 20px;
    height: 680px;
  }
  #div-descricao-ebook {
    max-width: 400px;
    margin: auto;
  }
}
