#main {
  width: 100%;
}

#ebook-gratuito {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #3057d7;
}

#titulo-ebook-principal {
  margin: 20px 0px;
  font-weight: bold;
  font-size: 32px;
  line-height: 115%;
  color: #000000;
}

#ebook-principal {
  margin-top: -180px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

#descricao-ebook-principal {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

#baixar-ebook-principal {
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background: #3057d7;
  border-radius: 25px;
  padding: 20px 50px;
}
#sessao-blog {
  margin-top: 90px;
}

#thumb-principal {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-bottom: 50px;
}

#texto-principal {
  display: flex;
  justify-items: center;
}

#categoria-post {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 40px;
  color: #464646;
  opacity: 0.8;
}

#descricao-principal {
  text-align: justify;
  text-justify: inter-word;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

#titulo-blog {
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
}

#ico-blog {
  max-width: 45px;
  max-height: 45px;
  width: auto;
  height: auto;
  margin-right: 15px;
  margin-bottom: 60px;
}

.titulo-atalho-blog {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 20px 0px;
}

.thumb-blog {
  max-width: 425px;
  max-height: 195px;
  width: auto;
  height: auto;
}

.linha-postagem {
  margin-bottom: 60px;
}
