@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");

/* Inicio estilos gerais */

* {
  font-family: Ubuntu !important;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#tit-principal {
  font-weight: bold;
  font-size: 64px !important;
  line-height: 74px !important;
  color: #9affe7 !important;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  color: #fff !important;
}

h2 {
  font-weight: bold;
  font-size: 18px !important;
  line-height: 41px;
  color: #fff !important;
}

h5 {
  color: #3057d7 !important;
}

#ico-geral {
  max-width: 25px;
  max-height: 25px;
  width: auto;
  height: auto;
}

#ler-mais {
  background: #3057d7;
  border-radius: 25px;
  padding: 15px 50px;
  font-weight: bold;
  font-size: 16px !important;
  line-height: 100%;
}

#ler-mais:hover,
#baixar-ebook-principal:hover {
  background-color: #9affe7;
  color: #3057d7;
}

#subtitulo-atalho {
  font-size: 16px;
  line-height: 150%;
  color: #464646;
  margin-bottom: 40px;
  opacity: 0.8;
}

/* Fim estilos gerais */

/* Inicio estilos do banner */
#cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#banner {
  height: 500px;
  background-color: #3057d7;
}

#banner .row {
  height: 500px;
  padding-bottom: 50px;
}

.banner-1 {
  background: url("../assets/post1-capa.jpg") no-repeat;
}

.banner-2 {
  background: url("../assets/post2-capa.jpg") no-repeat;
}

.banner-3 {
  background: url("../assets/post3-capa.jpg") no-repeat;
}

.banner-4 {
  background: url("../assets/post4-capa.jpg") no-repeat;
}

.banner-5 {
  background: url("../assets/post5-capa.jpg") no-repeat;
}

.banner-6 {
  background: url("../assets/post6-capa.jpg") no-repeat;
}

.banner-sobre {
  background: url("../assets/sobre-capa.jpg") no-repeat;
}

/* Fim do estilo do banner */

/* Inicio estilos específicos do cabeçalho/menu */

header {
  height: 90px;
  width: 100%;
  background-color: #ffffff;
}

nav {
  height: 100%;
}

#pesquisa {
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 2px;
  text-indent: 10px;
  line-height: 100%;
  padding: 5px 0;
  letter-spacing: -0.2px;
  background: url("../assets/lupa.png") no-repeat scroll 95% 5px;
  padding-right: 6%;
  max-width: 280px;
}

#logo-cabecalho {
  max-height: 90px;
  max-width: 200px;
  height: auto;
  width: auto;
}

ul {
  margin-bottom: 0 !important;
}

li {
  display: inline;
  padding-right: 35px;
  text-transform: uppercase;
}

#menu {
  float: right;
}

#menu a {
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

/* Fim estilos específicos do cabeçalho/menu */

/* Inicio dos estilos específicos do Rodapé */
footer {
  margin: 0;
  bottom: 0;
  height: 120px;
  width: 100%;
  background-color: #3057d7;
}

#rodape {
  margin-top: 50px;
}

#rodape .row {
  margin: 0 !important;
}

#linha-rodape {
  padding-top: 20px;
  height: 120px;
}

#direitos {
  font-size: 22px;
  line-height: 28px;
  color: #fff;
}
/* Fim dos estilos específicos do rodapé */
