/* Inicio estilos gerais */
body {
  width: 100%;
  margin: 0;
}

#cabecalho,
#rodape {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 150px;
}

#ico-geral {
  max-width: 25px;
  max-height: 25px;
  width: auto;
  height: auto;
}
/* Fim estilos gerais */

/* Inicio estilos específicos do cabeçalho/menu */

header {
  height: 90px;
  width: 100%;
  background-color: #464646;
}

nav {
  height: 100%;
}
#logo-cabecalho {
  max-height: 90px;
  max-width: 200px;
  height: auto;
  width: auto;
}

ul {
  margin-bottom: 0 !important;
  margin-right: 150px;
}

li {
  display: inline;
  padding-right: 35px;
  text-transform: uppercase;
}

#menu {
  float: right;
}
/* Fim estilos específicos do cabeçalho/menu */

/* Inicio dos estilos específicos do Rodapé */
footer {
  position: fixed;
  margin: 0;
  bottom: 0;
  height: 120px;
  width: 100%;
  background-color: #464646;
}

#direitos {
  color: #fff;
}
/* Fim dos estilos específicos do rodapé */
