#subtitulo-banner {
  font-size: 22px;
  line-height: 25px;
  opacity: 0.9;
}

#sobre-txt {
  margin-top: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  height: auto;
  width: 100%;
  text-align: justify;
}

#sobre-txt img, .img-b {
  border-radius: 16px;
}

#nos {
  width: 75%;
  height: auto;
}

.atalho-post img {
  border-radius: 8px;
}